<!-- <nav>
  <app-nav></app-nav>
</nav> -->
<!-- <div id="split-screen"> -->
<main class="main-content">
  <section>
    <header>
    </header>
    <div>
      <h1>DES</h1>
    </div>
    <span class="fade-in">
      <img class="spiral-left" src="../assets/img/spiral_t.png">
      <!-- <img class="spiral-right" src="../assets/img/spiral_t.png" style="float:right"> -->
    </span>
    <div>
      <p>by Martina Motta</p>
    </div>
  </section>
</main>

<main class="main-content">
  <section>
    <header>
    </header>
    <div>
      <h1>ENIA</h1>
    </div>
    <span class="fade-in">
      <img class="spiral-right" src="../assets/img/spiral_t.png">
    </span>
    <div>
    </div>
  </section>
</main>
<!-- </div> -->

<div id="beyond-desenia">
  <div id="stick" class="col-12 d-flex position-sticky justify-content-center">
    <!-- Image Blur BG -->
    <div id="blur-background" #blurBackground></div>
    <!-- Navbar -->
    <nav class="col-12 px-0">
      <app-nav></app-nav>
    </nav>
  </div>
  <!-- Memo + Pics -->
  <div class="col-12 d-flex justify-content-center" id="keep-fixed">
    <div class="col-4 bg-light-mode memo-content">
      <div class="col-12">
        <p class="pt-2 m-0">Diseño minimalista de materiales orgánicos.</p>
        <h2 class="caro-title">
          CABAÑA <i> LE PETIT BRISÉ,</i> DISEÑO ORGÁNICO
        </h2>
        <small class="text-muted m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate odit
          voluptatibus, eius, numquam quasi ab eum sunt ea quo possimus dicta explicabo nihil at dignissimos sed
          repellat
          id quas. Officiis.</small>
      </div>
      <div class="pt-4 mt-4 col-12 d-flex">
        <i-feather name="codepen" class="m-2 stroke-07 pointer"></i-feather>
        <i-feather name="book-open" class="m-2 stroke-07 pointer"></i-feather>
        <i-feather [name]="lightMode? 'sun' : 'moon'" class="m-2 stroke-07 pointer" (click)="switchLightMode()">
        </i-feather>
      </div>
    </div>
    <div class="col-4">
      <ui-carousel #uiCarousel [infinite]="false" [fade]="false" [speed]="0" [arrows]="false" [width]="''"
        [height]="'80vh'">
        <ui-carousel-item *ngFor="let item of items">
          <img [ui-lazy-load]="item.img" height="100%">
        </ui-carousel-item>
        <div class="left-arrow" (click)="uiCarousel.prev()">
          <!-- <img src="assets/arrow-left.png" alt=""> -->
          <i-feather name="chevron-left" class="m-2 stroke-07 pointer"></i-feather>

        </div>
        <div class="right-arrow" (click)="uiCarousel.next()">
          <!-- <img src="assets/arrow-right.png" alt=""> -->
          <i-feather name="chevron-right" class="m-2 stroke-07 pointer"></i-feather>

        </div>
      </ui-carousel>
    </div>
  </div>
</div>

<!-- <h2>෴</h2> -->
<!-- <button class="btn btn-secondary text-white">Test</button> -->