<main class="main-content des-layer l1" (click)="mobileEnterDesenia()" (drag)="mobileEnterDesenia()"
  (scroll)="scrollAll($event)">
  <section>
    <div>
      <h1>DES</h1>
    </div>
    <span class="fade-in">
    </span>
    <div>
      <p>by Martina Motta</p>
    </div>
  </section>
</main>

<main class="main-content des-layer l1" (click)="mobileEnterDesenia()" (drag)="mobileEnterDesenia()"
  (scroll)="scrollAll($event)">
  <section>
    <div>
      <h1>ENIA</h1>
    </div>
    <span class="fade-in">
      <!-- <img class="spiral-right" src="../assets/img/spiral_t.png"> -->
    </span>
    <div>
    </div>
  </section>
</main>
<main class="main-content des-layer l2"></main>
<main class="main-content des-layer l2"></main>
<main class="main-content des-layer l3"></main>
<main class="main-content des-layer l3"></main>
<main class="main-content des-layer l4"></main>
<main class="main-content des-layer l4"></main>
<main class="main-content des-layer l5"></main>
<main class="main-content des-layer l5"></main>

<div id="beyond-desenia" appDeferLoading (deferLoad)="entryViewport()">
  <!-- Navbar -->
  <div id="stick" class="col-12 d-flex position-sticky justify-content-center">
    <nav class="col-12 px-0">
      <app-nav></app-nav>
    </nav>
  </div>
  <div id="stick-content" class="w-100 d-flex justify-content-center flex-row">
    <div class="square-desenia d-flex flex-column">

      <div class="col-12">
        <div class="row">

          <div class="de-font col-4 p-0" style="writing-mode: vertical-lr;">
            <h2 id="hde">DE</h2>
          </div>
          <div class="circles col-8 p-0" (click)="toggleShowContent()">
            <img src="../assets/img/circles/c1.png" alt="">
            <img src="../assets/img/circles/c2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 de-font p-0">
        <h2 id="hsenia">SENIA</h2>
      </div>
    </div>
  </div>
  <div id="stick-content" *ngIf="showContent">
    <router-outlet></router-outlet>

  </div>
</div>

<!-- <h2>෴</h2> -->