<div class="draw-section" *ngFor="let interior of interiorsList;" style="--bg-img: url('{{interior.images.day[0]}}')">
    <h4>{{interior.longDesc}}</h4>
    <h1 class="p-title pointer">
        <!-- <span>></span> -->
        {{interior.title | lowercase}}
    </h1>
    <h1 class="ghost-title wrapper">{{interior.title | lowercase}} </h1>
    <!-- <div class="fake-line"></div> -->
    <div class="p-snaps wrapper">
        <div class="p-img" *ngFor="let pic of interior.images.day" style="--bg-img:url('{{pic}}')">
        </div>
    </div>
    <div class="p-goto" (click)="navTo('interior')">
        <i-feather name="eye" class="m-2 stroke-15 pointer"></i-feather>
    </div>
</div>