.draw-section {
    width: 100vw;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30em;
    align-items: center;
    // background: url("https://firebasestorage.googleapis.com/v0/b/desenia-motta.appspot.com/o/interiors%2Fcaba%C3%B1a%2Fportada_light_t.jpg?alt=media&token=1f14cf60-fedd-49e9-a53b-007a778ae715");
    background-image: var(--bg-img);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 100vh;

    h4 {
        color: var(--pri-color);
        font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        -webkit-text-fill-color: #c0a68796; // Can I make it relative to root colors?
        max-width: 70vw;
        font-weight: 100;
        line-height: 1.5em;
    }

    h1 {
        color: var(--pri-color);
        font-family: 'Endensor', serif;
        font-size: clamp(6em, 10vw, 10vw);

        &.p-title {
            transition: .3s;
            display: flex;
            align-items: center;
            margin-block: 0.2em;

            &::after {
                background-color: var(--cua-color);
                position: absolute;
                bottom: 0.1em;
                content: "";
                width: 0em;
                height: 2px;
                left: calc(50vw - 3em);
                transition: .3s;
                z-index: -1;
            }

            span {
                opacity: 0.5;
                width: 0;
                overflow: hidden;
                font-size: 6vw;
                transition: .3s;
                margin: 0px 0px -25px 20px;
                position: absolute;
                left: -90px;
                color: var(--cua-color);
            }

        }

        &.p-title:hover {
            // &::after {
            //     width: 3em;
            //     left: calc(50vw - 4.5em);
            // }

            span {
                opacity: 1;
                width: 40px;
            }
        }
    }

    .ghost-title {
        font-size: 20vw;
        opacity: 0.075;
        position: absolute;
        white-space: nowrap;
        z-index: -1;
        margin-top: -10vw;
    }

    .fake-line{
        height: 45vh;
    width: 3px;
    position: absolute;
    left: calc(50% + 3.2px);
    margin-top: 23vh;
    background-color: white;
    }

    .p-snaps {
        display: flex;
        min-width: 140%;
        // &::after{
        //     content: '';
        //     height: 100%;
        //     width: 2px;
        //     background-color: white;
        // }

        .p-img {
            background-color: var(--pri-color);
            background-image: var(--bg-img);
            // max-width: 40vw;
            background-size: cover;
            // border-radius: 50% 50% 0 0;
            // border-radius: 100%;

            margin: 2em;
            z-index: -2;
            // width: 30vw;
            // height: 20vw;
            background-repeat: no-repeat;
            filter: saturate(0.7);
            width: clamp(30vw, 50vw, 40vw);
            min-height: clamp(30vh, 45vh, 50vh);
        }

        .p-img:nth-of-type(2n) {
            z-index: 1;
            // border-radius: 0 0 50% 50%;

        }
    }

    .p-goto {
        margin-top: 10vh;
        i-feather {
            width: 50px;
            // margin-top: 40px !important;
            // fill: none;
            transition: .3s;
        }

        &:hover {
            i-feather {
                // fill: var(--cua-color);
                margin-top: 35px !important;
            }
        }
    }
}

@keyframes runner {
    to {
        transform: translateX(-25%);
    }
}