@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

// Previous theme config before importing bootstrap.

:root {
    --pri-color: #C0A687;
    --sec-color: #8B5848;

    --txt-color-a: black;
    --txt-color-b: black;
}

$theme-colors: (
    primary: #C0A687,
    secondary: #8B5848
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Here begins site css content.

@font-face {
    font-family: "Endensor";
    src: local("Endenson Free"), url(./assets/fonts/edensor-free.otf) format("truetype");
}

html{
    scroll-behavior: smooth;
}

body {
    // background-image: linear-gradient(45deg, #c9b4ad, white);
    // background-size: 5%;
    min-height: 100vh;
    background-color: var(--sec-color);
    color: var(--txt-color);
    font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    // * {
    //     transition: 0.3s;
    // }
}

.navigable {
    background: linear-gradient(0deg, black, black) no-repeat 10rem 1.45em
}

.navigable:hover {
    background: linear-gradient(0deg, black, black) no-repeat 0em 1.45em
}

.pointer {
    cursor: pointer;
}

.pointer-sub {
    * {
        cursor: pointer;
    }
}

body::-webkit-scrollbar {
    display: none;
  }
  
body {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

@keyframes intro-title {
    0% {
        opacity: 1;
        transform: translateY(-8em);
    }

    100% {
        opacity: 1;
        transform: translateY(0em);
    }
}

@keyframes intro-title-secondary {
    0% {
        opacity: 1;
        transform: translateY(-4em);
    }

    100% {
        opacity: 1;
        transform: translateY(0em);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}