<div class="square-desenia d-flex flex-column" [id]="'desenia-'+pickStyle">
    <div class="col-12">
        <div class="row">
            <div class="de-font col-4 p-0" style="writing-mode: vertical-lr;">
                <h2 id="hde">DE</h2>
            </div>
            <div class="circles col-8 p-0" (click)="toggleShowContent()">
                <img src="../assets/img/circles/c1.png" alt="">
                <img src="../assets/img/circles/c2.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-12 de-font p-0">
        <h2 id="hsenia">SENIA</h2>
    </div>
</div>