.scrollable {
    transition: 0.3s;
}

// GENERIC
.square-desenia {
    overflow: auto;
    border-color: var(--white);
    color: var(--white);
    justify-content: center;
    padding: 1em;
    background: none;
    transition: 0.3s;

    h2 {
        letter-spacing: 20px;
        font-size: 6em;
        margin: 0;
    }

    .circles {
        margin-left: -0.3em;
        margin-top: 5px;
        margin-right: -100px;
        svg {
            stroke: white;
            stroke-dasharray: 4000;
            stroke-width: 13px;
            stroke-dashoffset: 0;
            transition: 0.3s;
        }

        img,
        svg {
            // position: absolute;
            transition: 0.3s;
            width: 150px;

            path,
            * {
                transition: 1s;
            }
        }

        img:first-of-type,
        svg:first-of-type {
            animation: infinite-spin 7s linear infinite;
        }

        img:last-of-type,
        svg:last-of-type {
            animation: infinite-spin 7s linear infinite reverse;
            margin-top: 5px;
            margin-top: -11em;
        }

        img:hover,
        svg:hover {
            filter: drop-shadow(0 0 10px white);
            cursor: pointer;
        }
    }
}

// STYLE 1
#desenia-a {
    &.square-desenia {
        border: 14px solid;
        border-style: groove;
        background: linear-gradient(240deg, #20537a78, transparent);
        background-size: 50px;
        padding-inline: 40px;
    }

    h2 {
        font-size: 8em;
        font-family: 'Waves Club', serif;

        &#hde {
            margin-left: -18px;
            padding-top: 40px;
            letter-spacing: 30px;
        }

        &#hsenia {
            padding-left: 10px;
            margin-top: -20px;
            letter-spacing: 16px;
        }
    }
}

// STYLE 2
#desenia-b {
    &.square-desenia {
        // background: repeating-linear-gradient(45deg, #b06c571f, transparent 52px);
        // background: repeating-linear-gradient(0deg, #b06c571f, transparent 100%);
        // background-position: 0em 12em;
        background: repeating-linear-gradient(0deg, #c0a687, transparent 380%);
        background-position: 0em 12em;
        padding: 1.3em;
        padding-inline: 1.8em;
    }

    h2 {
        font-size: 6em;
        font-family: 'Endensor', serif;

        &#hde {
            padding-top: 20px;
        }

        &#hsenia {
            padding-left: 10px;
            letter-spacing: 16px;
        }
    }
}

// STYLE 3
#desenia-c {
    &.square-desenia {
        border: 2px solid;

        h2 {
            font-size: 6em;
            font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 100;

            &#hde {
                padding-top: 20px;
            }

            &#hsenia {
                padding-left: 10px;
                letter-spacing: 10px;
            }
        }
    }
}

@keyframes infinite-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#nav-to-left {
    left: 67em;
    width: 3000px;
    top: 22em;

    svg {
        path {
            stroke-width: 1.5px;
            stroke-dashoffset: 3350px;
            stroke-dasharray: 3539px;
            transition: 1s;
        }
    }
}
